body{
    background-color: #bfbfbf;
    line-height: 1.5;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
    background-color: #127369;
    color: white;
    margin: 0px;
    padding: 5px;
    text-align: center;
    text-shadow: #10403b 5px 5px;
}

h2{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}

.intro{
    max-width: 300px;
    padding-right: 20px;
    padding-top: 0px;
}

.page-wrapper{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
}

.page-wrapper h2{
    color: #10403b;
}

.page-wrapper p{
    color: black;
    font-size: 10px;
    font-weight: 400;
}

.summary{
    background-color: #10403b;
}

.summary p{
    color: white;
    padding: 10px;
    font-weight: 400;
}

.summary p a{
    background-color: white;
    color: #10403b;
    font-weight: 400;
    padding: 0 5px;
}

.preamble{
    border: solid 1px black;
    padding: 20px 20px;
    border-radius: 25px;
    display: grid;
    grid-gap: 5px;
    margin-top: 40px;
}

.supporting{
    max-width: 700px;
    margin-top: 150px;
    margin-right: 50px;
    margin-left:50px;
}

.explanation {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1.5px solid white;
    margin-bottom: 80px;
    border-style:groove;
    padding: 30px;
}

.explanation h3{
    font-size: 30px;
    color: white;
    font-weight: 900;
}

.participation {
    background: #8aa6a3;
    padding: 50px;
    padding-top: 30px;
    border-style: outset;
    border-color: yellowgreen;
    border-width: 10px;
    transform: rotate(8deg);
    border-radius: 50px;
    margin-bottom: -80px;
}

.benefits{
    border:white dotted 10px;
    padding: 30px;
    transform: rotate(-5deg);
    margin-top: 80px;
    margin-bottom: -5px;
    background: #4c5958;
}

.benefits h3{
    color: white;
    text-decoration: underline;
    font-size: 25px;
}

.benefits p{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 2em;
}

.requirements{
    background-image: linear-gradient(#127369, #8aa6a3);
    padding: 40px;
    border-radius: 80px;
    transform: rotate(5deg);
    border-bottom: white solid 20px;
    border-right: white solid 10px;
}

.requirements h3{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.requirements p{
    font-size: 18px;
    font-weight: 500;
}

.sidebar{
    margin-right: 0px;
    background-color: #8aa6a3;
    padding: 20px;
}

.sidebar li{
    list-style-type: none;
    line-height: 2em;
}

.sidebar h3{
    color: #127369;
    font-weight: 900;
    font-size: 20px;
    text-indent: 20px;
    text-shadow: white 1px 1px;
}

.footer{
    background-color: white;
    padding: 0px 20px;
}