body{
    background-color: cornflowerblue;
}


header{
    color: white;
    background-color: #1e90ff;
    padding: 20px;
}


h1{
    color:white;
    font-family: 'Lora', serif;
    font-weight: 600;
    border-bottom: 2px solid white;
}

h2{
    color: rgb(0, 183, 255);
    font-family: 'Lora', serif;
    font-weight: 500;
}

h3{
    color: blue;
    font-family: 'Lora', serif;
    font-weight: 400;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

