*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --foot-header:'Inter', sans-serif;
    --foot-body:var(--foot-header);

    --header-height: 3rem;
    --footer-height: 7rem;
    --color-main-rgb:rgb(37, 188, 252);
    --color-main-light:white;
    --color-main-medium:rgb(0, 164, 235);
    --color-main-dark:black;
} 

body {
    margin: 0;
    font-family:var(--foot-body);
}

a{
    color:var(--color-main-light);
    font-weight: bold;
    text-decoration: none;
}

a.form-buttom.ui-link {
    color: var(--color-main-rgb);
}

a.ui-link {
    color:black;
} 

/* App structure */
.ui-loader {
    display: none;
}

[data-role="page"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

[data-role="page"].ui-page-active {
    display: flex;
    flex-direction: column;
}

[data-role="main"]{
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
}

[data-role="header"]{
    line-height: var(--header-height);
    height: var(--header-height);
    position: relative;
    overflow: hidden;
    background-color: var(--color-main-rgb);
    box-shadow: 0 0 5px rgba(0, 0, 0, 5%);
    z-index: 2;
}

[data-role="footer"]{
    line-height: var(--header-height);
    height: var(--footer-height);
    position: relative;
    overflow: hidden;
    background-color: var(--color-main-rgb);
    box-shadow: 0 0 5px rgba(0, 0, 0, 5%);
    z-index: 2;
}
/* Core Navigation */
[data-role="header"] ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
}

[data-role="footer"] ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
}

[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
}

[data-role="footer"] img {
  height: 86px;
  width: auto;
  padding-top: 8px;
}

[data-role="header"] h1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    text-align:center;
    font-size: 1em;
    margin:0;
}

[data-role="header"] a {
    padding: 0 1em;
}
[data-role="header"] a,
[data-role="footer"] a {
    display:block;
}

/* Basic layout tools */
.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-none { flex:none; }
.flex-stretch { flex: 1 1 auto; }

.flex-column { flex-direction:column; }