*, *::after, *::before {
    box-sizing:border-box;
}

:root {
    --font-header:'Inter', sans-serif;
    --font-body:var(--font-header);

    --header-height: 5rem;

    --color-main-white: #FFFFFF;
    --color-main-yellow:#F2E5C4;
    --color-main-red: #D9524C;
    --color-main-gray: #969696;
    --color-main-transgray: rgba(150, 150, 150, 0.6);
    --color-main-black: #000000;
}

body {
    margin:0;
    font-family:var(--font-body);
}

a {
    color:var(--color-main-red);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


/* APP STRUCTURE */
.ui-loader {
    display:none;
}
[data-role="page"] {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    overflow:hidden;
}
[data-role="page"].ui-page-active {
    display:flex;
    flex-direction:column;
}

[data-role="main"] {
    flex: 1 1 80%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    z-index:1;
}

[data-role="header"]{
    line-height: var(--header-height);
    height: var(--header-height); 
    position: relative;
    overflow: hidden;
    z-index: 2;
}

/* Core Navigation */
[data-role="header"], ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
}
[data-role="modal-header"],ul,
[data-role="modal-footer"],ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
}

[data-role="header"] img {
    width:50px;
    height:50px;
}

[data-role="header"] h1{
    position:absolute;
    top:1rem;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    color: var(--color-main-black);
    margin:0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
}

[data-role="header"] a {
    padding:0.8em 1em;
    padding-top: 2rem;
}
[data-role="header"] a{
    display:block;
}

[data-role="modal-footer"] p{
    color: var(--color-main-black);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px; 
}

/* Basic layout tools */
.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-none { flex:none; }
.flex-stretch { flex: 1 1 auto; }

.flex-column { flex-direction:column; }

.overscroll { overflow: auto; }


/* ONBOARDING */
#onboarding-page {
    background-image: url('../img/onboardingpage.png');
    background-size:cover;
    background-position:center;
}

/* FORMS */
.form-control {
    margin: 1em 0;
}

#signin-page{
    background-image: url('../img/signinheader.png');
    background-size:cover;
    background-position:center;
}

#signup-page{
    background-image: url('../img/becomeourmemberheader.png');
    background-size:cover;
    background-position:center;
}

#signin-form,
#signup-form {
    padding: 2em;
    background-color: var(--color-main-white);
    border-radius: 30px 30px 0px 0px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}

.signin-hero,
.signup-hero {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/* title of the sign-in and sign-up */
h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--color-main-black);
    padding-bottom: 2rem;
}

.form-label {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-main-gray);
    display: flex;
    /* margin-bottom: 8px; */
    align-items: center;
}

.form-input {
    border-width: 0px;
    border-bottom: 0.5px solid var(--color-main-red);
    padding: 0 1em;
    display: inline-block;
    width: 100%;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    background-color: transparent;
}


.form-button {
    background-color: var(--color-main-red);
    border-width: 0;
    border-radius: 5px;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-main-white);
    margin-top: 3rem;
}

.form-button:hover {
    text-decoration: none;
}

/* Warning */
.warning p{
    color: red;
    font-size: 10px;
    font-weight: 300;
    text-decoration: underline;
    text-align: center;
}


/* MAP */

.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-main-gray);
}

.modal-body.list{
    padding: 0em 1em;
}

.js-logout{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: var(--color-main-red);
    position: absolute;
    bottom: 5em;
}

.island-modal-body{
    background-color: white;
    padding: 1em 0.5em;
}

.modal-drawer.island {
    box-shadow: initial;
}
.modal-drawer.island .island-modal-body {
    margin:1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius:1em;
}

.dish-map-description{
    display: flex;
    flex-direction: column;
}

.dish-map-body{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dish-map-image img{
    width: 100%;
    height: 100px;
    object-fit:cover;
    border-radius:1em;
    padding: 0em 0.5em;
}

.dish-map-image-flag img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    object-fit:cover;
}

.dish-map-body{
    padding: 1em;
}

.dish-map-content {
    padding-left: 1em;
}

.dish-map-content h5{
    color: var(--color-main-gray);
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin: 0.5em 1em;
}

.dish-map-content h6{
    color: var(--color-main-black);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    margin: 0.5em 1em;
}

/* COUNTRY and CUNSINE */
.cuisinelist,
.dishlist {
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding-top: 1em;
}
.cuisinelist-item,
.dishlist-item{
    display: flex;
    flex-direction: column;
    column-count: 2;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.country-name,
.dish-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}

.country-name p,
.dish-name p{
    margin: 0px auto;
}

/* FLOATER */
.floater { position:absolute; }
.floater.right { right: 2rem; }
.floater.bottom { bottom: 2rem; }
.floater {z-index: 1;}

/*MODAL-DRAWER*/
.modal-drawer {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 10;
}

.modal-drawer.right,
.modal-drawer.left {
    height: 100%;
    width: 70vw;
}
.modal-drawer.right { right: 0; transform: translateX(100%); }
.modal-drawer.left { left: 0; transform: translateX(-100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}

/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;
}

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-main-transgray);
}

.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color-main-white);
    width: 80vw;
    max-height: 80vh;
    display:flex;
    flex-direction: column;
    border-radius: 1em;
    overflow:hidden;
    transition: all 0.3s;
    padding: 1em;
}

.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}

.modal-header,
.modal-foot{
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1em;
}

label {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-main-gray);
}

/* cancel and save button */
.modal-foot.ui-header.ui-bar-inherit {
    height: 4em;
}

.modal-head{
    margin: 0px;
    padding: 1em;
    background-color: var(--color-main-white);
}

.modal-head.modal-title{
    background-color: var(--color-main-yellow);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.modal-body {
    background-color: white;
    padding: 1em 0.5em;
    flex: 1 1 100%;
    overflow: auto;
}

.modal-foot {
    display: block;
    margin: 0px;
    padding: 0.5em;
}

.cancelbtn {
    background-color: var(--color-main-gray);
    border-width: 0;
    border-radius: 20px;
    padding: 0.5em 1em;
    display: inline-block;
    width: 5rem;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-main-white);
}

.addbtn,
.savebtn{
    background-color: var(--color-main-red);
    border-width: 0;
    border-radius: 20px;
    padding: 0.5em 1em;
    display: inline-block;
    width: 10rem;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-main-white);
}

.inputspace{
 margin: 0em;
 margin-bottom: 1em;
}

select#country-selected {
    border-width: 0px;
    border-bottom: 0.5px solid var(--color-main-red);
    display: inline-block;
    width: 100%;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    background-color: transparent;
    margin: 0px;
}

input#img {
    height: 9rem;
    background-image: url("../img/uploadimage.png");
    background-size:cover;
    background-position:center;
    border-bottom: 0 solid;
    border-radius: 5px;
    margin-top: 8px;
}

/*DISH PAGE*/
.dishlist-item img{
    width: 100%;
    object-fit: cover;
    aspect-ratio:1/1;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.dishlist-item p{
    padding-top: 8px;
}

/*DISH DETAIL PAGE*/
.dish-detail-img{
    height: 20vh;
    width: 100%;
}

.dish-detail-img img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.dish-detail h4{
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main-yellow);
    height: 3em;
    margin: 0px;
}

.dish-detail h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    margin: 0.5em 1em;
}

.dish-detail h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    margin: 0em 1em;
}

#dish-detail-page .map{
    position:relative;
    width: 100%;
    object-fit: cover;
}

input#changedishimage{
    height: 9rem;
    width: 9rem;
    background-image: url("../img/boba.png");
    background-size:cover;
    background-position:center;
    border-bottom: 0 solid;
    border-radius: 5px;
    margin-top: 8px;
}

.inputspace textarea{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid var(--color-main-red);
    border-radius: 4px;
    background-color: var(--color-main-white);
    resize: none;
}

/*PROFILE*/
.profileupper{
    background-size:cover;
    background-position:center;
    z-index: -1;
    background-size:cover;
    background-position:center;
    background-image: url("../img/profilebackground.png");
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 10px var(--color-main-gray);
}

.photoandname{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

.photoandname h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: var(--color-main-red);
    padding: 0px;
}

.count-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 32px;
}

.count-row-list{
    width: 6em;
    height: 6em;
    background-color: #ffffff8e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.count-row-list p{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-main-gray);
    padding: 0px;
    margin: 4px auto;
}

.count-row-list h2{
    font-weight: 700;
    font-size: 32px;
    color: var(--color-main-black);
    padding: 0px;
    margin: 8px auto;
}

.photoandname img{
    border-radius: 100px;
    box-shadow: 5px var(--color-main-transgray);
}

.profilephotos{
    padding: 0.5em;
    overflow: auto;
    overflow-x: hidden;
} 

.profilephotoslist{
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding-top: 1em;
} 

.profilephotoslist img{
    border-radius: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px var(--color-main-gray); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-main-gray); 
    border-radius: 10px;
  }

  /* Remove the non-necessary string come with selected bar */
  #country-selected-button span.form-control{
      display:none;
  }